<?php
	setConf('admin.password', 'admin');
	setConf('admin.ip', false); // IP to check ip or FALSE to disable ip checking

	setConf('env', 'dev'); // dev or prod

	setConf('url.rewrite', false);

	setConf('route.aliases', [
		'home' => 'home/index',
		'backup' => 'backup/index',
		'login' => 'login/form',
		'404' => 'errors/err404',
		'503' => 'errors/err503',
	]);

	setConf('files', [
		'test'=>[
			'menu' => 'Test',
			'path' => ROOT_DIR.'/files/test.txt',
		],
	]);

	setConf('per.page', 25);

	setConf('check.new.lines.for.unique', true);
	setConf('check.new.lines.ignore.case', true);

	setConf('project.name', 'Test project');
